[submodule "quotes-service"]
	path = quotes-service
	url = git@github.com:simonrowe/quotes-service.git
[submodule "accounts-service"]
	path = accounts-service
	url = git@github.com:simonrowe/accounts-service.git
[submodule "portfolio-service"]
	path = portfolio-service
	url = git@github.com:simonrowe/portfolio-service.git
[submodule "web-ui"]
	path = web-ui
	url = git@github.com:simonrowe/web-ui.git
[submodule "scripts"]
	path = scripts
	url = git@github.com:simonrowe/scripts
[submodule "user-service"]
	path = user-service
	url = git@github.com:simonrowe/user-service
[submodule "cf-SpringBootTrader-config"]
	path = cf-SpringBootTrader-config
	url = git@github.com:simonrowe/cf-SpringBootTrader-config.git
